* {
  box-sizing: border-box;
  color: #000;
}
li{
  list-style: none;
}
ul{
  display:flex;

}
.desktop-menu {
  list-style: none;
}
a{
  text-decoration: none;
}
first-navbar{
  display: flex;
  justify-content: space-between;
}
header{
  
}