* {
  box-sizing: border-box;
}
li{
  list-style: none;
}
ul{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}
.desktop-menu {
  list-style: none;
}
a{
  text-decoration: none;
}
